<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mslawin.pl.neverforget" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/alert_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".view.NeverForgetApplication" >
        <activity android:name=".view.AddReminderActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".view.CloseNotificationReceiver" />
    </application>

</manifest>
